/* src/components/Home.css */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .home-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
  }
  
  .home-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .home-content p {
    font-size: 1.2rem;
  }
  